@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Ana Sofia - sofiamoniz@ua.pt</p>
<p>André Gual - andregual@ua.pt</p>
<p>Camila Uachave - camilauachave@ua.pt</p>
<p>Carolina Marques - carolinaresendemarques@ua.pt</p>
