@{
    ViewBag.Title = "DEGEIT BAR";
}




@section banners {
    <div class="jumbotron">
        <div class="container">
            <h1>DEGEIT BAR</h1>
            <p class="lead">This is our BackOffice.</p>
        </div>
    </div>
}